.about {
  /* padding: 5rem 10rem; */
  display: grid;
  padding-top: 2rem;
  background-color: var(--lineslight);
  min-height: 100vh;
  color: var(--linesDark);
}
.about h1 {
  text-align: center;
}

.aboutSection {
  display: flex;
  justify-content: center;
}

.resume {
  flex: 1 1 66%;
}

h1,
p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0rem;
  align-items: center;
  margin: 0 auto;
}

.aboutMeText {
  padding: 2rem;
}

.images {
  min-width: 40rem;
  min-height: 40rem;
}

.carouselImg {
  display: block;
  max-width: 60rem;
  max-height: 55rem;
  width: auto;
  height: auto;
  margin-right: 2rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: start;
  }

  .about {
    padding: 5rem 10rem;
  }
}
