.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
  background-color: var(--darkblue);
  color: var(--lineslight);
}

.contactLeft {
  position: relative;
}

.contactLeftImg {
  height: 100%;
  object-fit: cover;
}

.contactLeftOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--darkblue);
  top: 0;
  opacity: 0.5;
}

.contactRight {
  display: grid;
  padding: 5rem 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.submitBtn {
  border-radius: 20px;
  font-size: var(--headerM) !important;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--lineslight);
  width: 20rem;
  padding: 1rem 0rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
  color: var(--lineslight);
  background-color: var(--mediumblue);
}

.submitBtn:active {
  background-color: var(--blue);
}

.myContact {
  display: flex;
  flex-direction: column;
}

.myContactSectionHeader {
  font-size: var(--headerL);
  line-height: 2.3rem;
  text-transform: uppercase;
}

.myContactSection {
  display: flex;
  align-items: center;
}

.myContactSectionIcon {
  border-radius: 50%;
}

p {
  font-size: var(--headerS);
  font-weight: bold;
  margin-left: 1rem;
}

input {
  color: var(--lineslight);
  background-color: transparent;
  border: 1px solid var(--lineslight);
  border-radius: 8px;
  font-size: var(--headerM) !important;
  font-weight: bold;
  transition: all 0.2s ease-in;
  box-shadow: none;
  outline: none;
  padding: 1rem 2rem;
  width: 60%;
}

input:focus-within {
  border: 1px solid var(--blue);
}

textarea {
  color: var(--linesDark);
  background-color: transparent;
  border: 1px solid var(--lineslight);
  border-radius: 8px;
  font-size: var(--headerM) !important;
  font-weight: bold;
  transition: all 0.2s ease-in;
  box-shadow: none;
  outline: none;
  padding: 1rem 2rem;
  max-width: 45vw;
  max-height: 50vh;
  height: 25vh;
}

textarea:focus-within {
  border: 1px solid var(--blue);
}

h1,
p,
input {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media (min-width: 1024px) {
  .myContact {
    display: flex;
    flex-direction: row;
  }
  .myContactSection:not(:first-child) {
    margin-left: 2rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
