@font-face {
  font-family: "Kaushan Script";
  src: url("./assets/KaushanScript-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --headerXL: 2.4rem;
  --headerL: 1.8rem;
  --headerM: 1.5rem;
  --headerS: 1.2rem;
  --white: #fff;
  --black: #000112;
  --verydarkgrey: #20212c;
  --darkgrey: #2b2c37;
  --linesdark: #3e3f3e;
  --mediumgrey: #828fa3;
  --lineslight: #e4ebfa;
  --lineslightgrey: #f4f7fd;
  --mainpurple: #635fc7;
  --mainpurplehover: #a8a4ff;
  --darkblue: #040926;
  --mediumblue: #031058;
  --blue: #1976d2;
  --violet: #251351;
  --byzantium: #7d2e68;
  --redwood: #a85751;
  --rose: #c97b84;

  --red: #ea5555;
  --redhover: #ff9898;
  --btnHeight: 4.2rem;
  --btnWidth: 16.4rem;
  --headerHeight: 9.7rem;
}

.main {
  position: relative;
}

.headingXLarge {
  font-size: var(--headerXL);
  line-height: 2.3rem;
  text-transform: uppercase;
}

.headingLarge {
  font-size: var(--headerL);
  line-height: 2.3rem;
  text-transform: uppercase;
}

.headingM {
  font-size: var(--headerM);
  font-weight: bold;
}

.headingSmall {
  font-size: var(--headerS);
  font-weight: 500;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 100rem, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.animatedFast {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animatedSlow {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}
.animatedSlow2 {
  animation-duration: 3s;
  animation-fill-mode: both;
}
.animatedSlow3 {
  animation-duration: 3.5s;
  animation-fill-mode: both;
}
.animatedSlow4 {
  animation-duration: 4s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.MuiTimeline-root {
  width: 100%;
}

.MuiTimelineDot-root {
  height: 4rem !important;
  width: 4rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-color: var(--mainpurple);
}

.MuiSvgIcon-root {
  height: 2rem !important;
  width: 2rem !important;
}

.MuiTypography-root * {
  line-height: 3rem;
}
